 li {
     cursor: pointer;
 }

 .sideWrap {
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 .logoBox {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .logoBox img {
     max-width: 50px;
 }

 .logotit {
     font-size: 28px;
     font-weight: 700;
     color: #A26BAB
 }

 .adminListCont {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .adminList:not(:last-child) {
     border-bottom: 1px solid var(--LevelUp-gray-300);
     padding-bottom: 20px;
 }

 .listTit {
     font-size: 20px;
     font-weight: 700;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .listFl {
     display: block;
 }

 .listFlBox {
     font-size: 16px;
     font-weight: 400;
     display: flex;
     gap: 10px;
     align-items: center;
     padding-left: 10px;
 }

 .listFlDept {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .listSecDept {
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding-top: 10px;
 }

 .listSec {
     font-size: 16px;
     display: flex;
     gap: 5px;
     font-weight: 400;
 }

 .listSec::before {
     content: "·";
     display: block;
     padding-left: 20px;

 }

 .logout {
     /* flex-direction: column; */
     color: #A26BAB;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* line-height: 100px; */
     border-radius: 10px;
     padding-top: 10px;
     border: 3px solid #A26BAB;
 }

 .logout:hover {
     color: #ffffff;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* line-height: 100px; */
     border-radius: 10px;
     padding-top: 10px;
     background-color: #A26BAB;
     border: 3px solid #A26BAB;
     transition: 0.3s;
 }

 .btn {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.btn button {
    width: 100%;
}