.footerWrap {
    max-width: 1300px;
    display: flex;
    gap: 10px;
    margin: 0px auto;
    color: var(--LevelUp-gray-900);
}

.border {
    width: 1px;
    background-color: var(--LevelUp-gray-100);
}

.customer {
    width: 40%;
    flex: 1;
}

.customerCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customerInfo {
    display: flex;
    justify-content: space-between;
}

.customerTit {
    display: flex;
    align-items: center;
}

.customerTit a {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #633C6A;
}

.customerTime {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customerTimeBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.customerTimeBox span {
    font-size: 16px;
    font-weight: 500;
    color: #633C6A
}

.customerDay {
    padding-left: 10px;
}

.customerDay li {
    font-size: 14px;
    /* color: var(--LevelUp-gray-400); */
    color: #85508D;
}

.customerBtn {
    display: flex;
    gap: 10px;
}

.customerBtn button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--LevelUp-gray-500);
    background-color: var(--LevelUp-gray);
    font-weight: 500;
}

.company {
    flex: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.companyInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.companyTxt {
    font-size: 14px;
    /* color: var(--LevelUp-gray-400); */
    color: #85508D;
}

.companyTxt span {
    margin: 0 3px;
}

.companySns {
    display: flex;
    gap: 10px;
}

.sns {
    font-size: 28px;
}

.sns i {
    color: #633C6A;
}

.customerBtn button {
    border: 2px solid #633C6A;
    background-color: #fff0;
    color: #633C6A;
    font-weight: bold;
}

.customerBtn button:hover {
    border: 2px solid #633C6A;
    background-color: #633C6A;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}